github_token = "op://infrastructure/github/token"
github_owner = "op://infrastructure/github/repo_owner"
github_name  = "op://infrastructure/github/repo_name"

protonmail_verification = "op://infrastructure/protonmail/verification"
protonmail_dkim         = "op://infrastructure/protonmail/dkim"

hcloud_token = "op://infrastructure/hetzner/token"

tailscale_token   = "op://infrastructure/tailscale/token"
tailscale_tailnet = "op://infrastructure/tailscale/organization"

miniflux_admin_user = "op://infrastructure/miniflux/admin/user"
miniflux_admin_pass = "op://infrastructure/miniflux/admin/password"
miniflux_db_user    = "op://infrastructure/miniflux/database/owner"
miniflux_db_pass    = "op://infrastructure/miniflux/database/password"

porkbun_api_key    = "op://infrastructure/porkbun/api_key"
porkbun_secret_key = "op://infrastructure/porkbun/secret_key"

nextcloud_admin_user    = "op://infrastructure/nextcloud/admin/user"
nextcloud_admin_pass    = "op://infrastructure/nextcloud/admin/password"
nextcloud_db_user       = "nextcloud"
nextcloud_db_pass       = "op://infrastructure/nextcloud/database/password"
nextcloud_r2_access_key = "op://infrastructure/cloudflare/nextcloud/access_key_id"
nextcloud_r2_bucket     = "op://infrastructure/cloudflare/nextcloud/bucket"
nextcloud_r2_hostname   = "op://infrastructure/cloudflare/nextcloud/jurisdiction_specific_endpoint"
nextcloud_r2_secret_access_key = "op://infrastructure/cloudflare/nextcloud/secret_access_key"


nextcloud_sse_key = "op://infrastructure/nextcloud/sse/password"
